<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>

    <php>
        <env name="APP_ENV" value="testing" />
        <env name="PAYMONGO_SECRET_KEY" value="sk_test_mTLYmYUoX3QM1AtT7WKvU9rR" />
        <env name="DB_CONNECTION" value="testing" />
        <env name="PAYMONGO_WEBHOOK_SIG" value="secret" />
    </php>
</phpunit>
