name: Run tests

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    php-tests:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                php: [8.0, 8.1]
                laravel: [8.*]
                dependency-version: [prefer-stable]
                os: [ubuntu-latest, windows-latest]
                include:
                    - laravel: 8.*
                      testbench: 6.*

        name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependency-version }} - ${{ matrix.os }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
                  coverage: none
                  tools: composer:v2

            - name: Install PHP 7 dependencies
              run: |
                  composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
                  composer update --${{ matrix.dependency-version }} --no-interaction --no-progress
              if: "matrix.php < 8"

            - name: Install PHP 8 dependencies
              run: composer update --${{ matrix.dependency-version }} --ignore-platform-req=php --no-interaction --no-progress
              if: "matrix.php >= 8"

            - name: Execute tests
              run: vendor/bin/pest --coverage --parallel
